eureka:
  client:
    register-with-eureka: true
    fetch-registry: true
    service-url:
      defaultZone: http://localhost:8761/eureka/
  instance:
    hostname: localhost

server:
  port: 8989

#eureka:
#  client:
#    serviceUrl:
#      defaultZone: http://localhost:8761/eureka/

spring:
  application:
    name: Api-Gateway-Service
  cloud:
    gateway:
      routes:
        - id: ADMIN
          uri: lb://ADMIN
          predicates:
            - Path=/onboard/**




